# Auto detect text files and perform LF normalization
#* text=false
#*.frm text eol=crlf
#*.bas text eol=crlf
#*.frx binary
*.res text eol=crlf
# Ignore git files  for release
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
README.md export-ignore